{% extends 'base.html.twig' %}

{% block title %}BassGuitar{% endblock %}

{% block body %}
    <h1>BassGuitar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bass_guitar.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ bass_guitar.nombre }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ bass_guitar.imagen }}</td>
            </tr>
            <tr>
                <th>Caracteristicas</th>
                <td>{{ bass_guitar.caracteristicas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bass_guitar_index') }}">back to list</a>

    <a href="{{ path('app_bass_guitar_edit', {'id': bass_guitar.id}) }}">edit</a>

    {{ include('bass_guitar/_delete_form.html.twig') }}
{% endblock %}
