<!DOCTYPE html>

<title>Guitars index</title>

{% block body %}
    <h1>Guitars index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Caracteristicas</th>
                <th>Price</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guitar in guitars %}
            <tr>
                <td>{{ guitar.id }}</td>
                <td>{{ guitar.nombre }}</td>
                <td>{{ guitar.caracteristicas }}</td>
                <td>{{ guitar.price }}</td>
                <td>{{ guitar.imagen }}</td>
                <td>
                    <a href="{{ path('app_guitars_show', {'id': guitar.id}) }}">show</a>
                    <a href="{{ path('app_guitars_edit', {'id': guitar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guitars_new') }}">Create new</a>
{% endblock %}
